.header-nav {
    box-shadow: 2px black;
    width: 100%;
    display: flex;
    padding: 1.5%;
    background-color: #2D0406;
}

.navtab {
    margin-left: 5%;
    color: white;
    align-self: center;
    font-family: 'Lusitana', serif;
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.navtab:hover {
    text-decoration: none;
    color: white;
}

.header-main {
    align-self: center;
    color: white;
}

.header-button {
    font-family: 'Lusitana', serif;
    letter-spacing: 0.0625em;
    background-color: transparent;
    color: white;
    border: transparent;
    padding: 5px;
    font-size: 2.1em;
}

.header-main:hover {
    color: white;
}

.wrapper {
    margin: 3.5%;
}

.top-container {
    width: 80%;
    margin: 0% 10%;
    height: 200px;
    border: 3px solid #E1D9CF;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 10% 3% 10%;
    text-align: center;
    flex-direction: column;
    color: black;
    background-color: #F0ECE2;
    border-radius: 5px 5px 0px 0px;
}

.top-container h1 {
    font-family: 'Lusitana', serif;
    border-bottom: 1px solid black;
    font-weight: 800;
    font-size: 2.5em;
}

.top-container h3 {
    font-family: 'DM Serif Text', serif;
    font-size: 1.6em;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0% 10%;
    border: 3px solid #E1D9CF;
    border-top: none;
    padding: 1.5%;
    border-radius: 0px 0px 5px 5px;
}

label {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    font-weight: 550;
}

input {
    border: 1px solid #E1D9CF;
}

.form-group {
    padding: 0.25%;
}

@media screen and (max-width: 520px) {
    .header-nav {
        justify-content: center;
        flex-direction: column;
        padding-right: 10%;
      }

      .header-button {
        font-size: 1.5em;
    }

    .navtab {
        margin-left: 0%;
        font-size: 1em;
        letter-spacing: 0.05em;
    }
}

@media screen and (max-width: 757px) {
    .header-button {
        border: transparent;
    }
}
